<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lark.dao.mapper.BookingMapper">
  <resultMap id="BaseResultMap" type="com.lark.dao.pojo.Booking">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roomId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="topic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="startTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="endTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="device" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bookTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, companyId, userId, roomId, topic, date, startTime, endTime, device, bookTime, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from booking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from booking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking (companyId, userId, roomId, 
      topic, date, startTime, endTime, 
      device, bookTime, status
      )
    values (#{companyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, 
      #{topic,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{startTime,jdbcType=TIME}, #{endTime,jdbcType=TIME}, 
      #{device,jdbcType=VARCHAR}, #{bookTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        companyId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="roomId != null">
        roomId,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="bookTime != null">
        bookTime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="bookTime != null">
        #{bookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lark.dao.pojo.Booking">
    update booking
    <set>
      <if test="companyId != null">
        companyId = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        roomId = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=TIME},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="bookTime != null">
        bookTime = #{bookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lark.dao.pojo.Booking">
    update booking
    set companyId = #{companyId,jdbcType=INTEGER},
      userId = #{userId,jdbcType=INTEGER},
      roomId = #{roomId,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      startTime = #{startTime,jdbcType=TIME},
      endTime = #{endTime,jdbcType=TIME},
      device = #{device,jdbcType=VARCHAR},
      bookTime = #{bookTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lark.dao.pojo.Booking">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roomId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="topic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="startTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="endTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="device" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bookTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, companyId, userId, roomId, topic, date, startTime, endTime, device, bookTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from booking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from booking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking (companyId, userId, roomId, 
      topic, date, startTime, endTime, 
      device, bookTime)
    values (#{companyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, 
      #{topic,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{startTime,jdbcType=TIME}, #{endTime,jdbcType=TIME}, 
      #{device,jdbcType=VARCHAR}, #{bookTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        companyId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="roomId != null">
        roomId,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="bookTime != null">
        bookTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="bookTime != null">
        #{bookTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lark.dao.pojo.Booking">
    update booking
    <set>
      <if test="companyId != null">
        companyId = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        roomId = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=TIME},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="bookTime != null">
        bookTime = #{bookTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lark.dao.pojo.Booking">
    update booking
    set companyId = #{companyId,jdbcType=INTEGER},
      userId = #{userId,jdbcType=INTEGER},
      roomId = #{roomId,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      startTime = #{startTime,jdbcType=TIME},
      endTime = #{endTime,jdbcType=TIME},
      device = #{device,jdbcType=VARCHAR},
      bookTime = #{bookTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lark.dao.pojo.Booking">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roomId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="topic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="startTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="endTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="device" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bookTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, companyId, userId, roomId, topic, date, startTime, endTime, device, bookTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from booking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from booking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking (companyId, userId, roomId, 
      topic, date, startTime, endTime, 
      device, bookTime)
    values (#{companyid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, 
      #{topic,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME}, 
      #{device,jdbcType=VARCHAR}, #{booktime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyid != null">
        companyId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="roomid != null">
        roomId,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="booktime != null">
        bookTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIME},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        #{booktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lark.dao.pojo.Booking">
    update booking
    <set>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        roomId = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIME},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        bookTime = #{booktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lark.dao.pojo.Booking">
    update booking
    set companyId = #{companyid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      roomId = #{roomid,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      startTime = #{starttime,jdbcType=TIME},
      endTime = #{endtime,jdbcType=TIME},
      device = #{device,jdbcType=VARCHAR},
      bookTime = #{booktime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lark.dao.pojo.Booking">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roomId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="topic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="startTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="endTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="device" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bookTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, companyid, userId, roomId, topic, date, startTime, endTime, device, bookTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from booking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from booking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking (companyid, userId, roomId, 
      topic, date, startTime, endTime, 
      device, bookTime)
    values (#{companyid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, 
      #{topic,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME}, 
      #{device,jdbcType=VARCHAR}, #{booktime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyid != null">
        companyid,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="roomid != null">
        roomId,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="booktime != null">
        bookTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIME},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        #{booktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lark.dao.pojo.Booking">
    update booking
    <set>
      <if test="companyid != null">
        companyid = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        roomId = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIME},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        bookTime = #{booktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lark.dao.pojo.Booking">
    update booking
    set companyid = #{companyid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      roomId = #{roomid,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      startTime = #{starttime,jdbcType=TIME},
      endTime = #{endtime,jdbcType=TIME},
      device = #{device,jdbcType=VARCHAR},
      bookTime = #{booktime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lark.dao.pojo.Booking">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roomId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="topic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="startTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="endTime" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="device" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bookTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, companyid, userId, roomId, topic, date, startTime, endTime, device, bookTime
  </sql>
  <select id="selectByExample" parameterType="com.lark.dao.pojo.BookingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from booking
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from booking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from booking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lark.dao.pojo.BookingExample">
    delete from booking
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking (companyid, userId, roomId, 
      topic, date, startTime, endTime, 
      device, bookTime)
    values (#{companyid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, 
      #{topic,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME}, 
      #{device,jdbcType=VARCHAR}, #{booktime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lark.dao.pojo.Booking">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into booking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyid != null">
        companyid,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="roomid != null">
        roomId,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="booktime != null">
        bookTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIME},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        #{booktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lark.dao.pojo.BookingExample" resultType="java.lang.Long">
    select count(*) from booking
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update booking
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null">
        companyid = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.roomid != null">
        roomId = #{record.roomid,jdbcType=INTEGER},
      </if>
      <if test="record.topic != null">
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=TIME},
      </if>
      <if test="record.endtime != null">
        endTime = #{record.endtime,jdbcType=TIME},
      </if>
      <if test="record.device != null">
        device = #{record.device,jdbcType=VARCHAR},
      </if>
      <if test="record.booktime != null">
        bookTime = #{record.booktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update booking
    set id = #{record.id,jdbcType=INTEGER},
      companyid = #{record.companyid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      roomId = #{record.roomid,jdbcType=INTEGER},
      topic = #{record.topic,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=DATE},
      startTime = #{record.starttime,jdbcType=TIME},
      endTime = #{record.endtime,jdbcType=TIME},
      device = #{record.device,jdbcType=VARCHAR},
      bookTime = #{record.booktime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lark.dao.pojo.Booking">
    update booking
    <set>
      <if test="companyid != null">
        companyid = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        roomId = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIME},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        bookTime = #{booktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lark.dao.pojo.Booking">
    update booking
    set companyid = #{companyid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      roomId = #{roomid,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      startTime = #{starttime,jdbcType=TIME},
      endTime = #{endtime,jdbcType=TIME},
      device = #{device,jdbcType=VARCHAR},
      bookTime = #{booktime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>