<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="/WEB-INF/jdbc.properties"/>
    <context:component-scan base-package="com.lark"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="minPoolSize" value="${minPoolSize}"/>
        <property name="maxPoolSize" value="${maxPoolSize}"/>
    </bean>

    <!--Mybatis配置-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value=""/>
        <!-- 自动扫描entity目录，省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.lark.dao.mapper.*"/>
        <!--显式指定Mapper文件位置-->
        <property name="mapperLocations" value="classpath:mybatis/*Mapper.xml"/>
    </bean>

    <!--扫描basePackage下所有以@Repository标识的类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--配置Mapper接口函数-->
        <property name="basePackage" value="com.lark.dao.mapper.**"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>

</beans>